*   {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gallery-wheel  {
    width: 50vw;
    height: 50vw;
    min-width: 250px;
    min-height: 250px;
    max-width: 600px;
    max-height: 600px;
    border-radius: 50%;
    border: 3px solid black;
    position: relative;
}

.item {
    position: absolute;
    width: 8vw;
    height: 8vw;
    min-width: 40px;
    min-height: 40px;
    max-width: 60px;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
