*   {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    margin: 0;
    background: black;
}

.gallery-grid {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: auto;
    max-height:100dvh;
    gap: 0.2rem;
    margin: 0;    
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.65rem;
    padding: 0;
    margin: 0;    
}

#mithological  { grid-column: 1; grid-row: 1;}
#gods          { grid-column: 4; grid-row: 1;}
#zodiac        { grid-column: 1; grid-row: 6;}
#signs         { grid-column: 4; grid-row: 6;}

#aries   { grid-column: 2; grid-row: 1;}
#taurus  { grid-column: 3; grid-row: 1;}

#gemini  { grid-column: 4; grid-row: 2;}
#cancer  { grid-column: 4; grid-row: 3;}
#leo     { grid-column: 4; grid-row: 4;}
#virgo   { grid-column: 4; grid-row: 5;}

#libra   { grid-column: 3; grid-row: 6;}
#scorpio { grid-column: 2; grid-row: 6;}

#sagittarius { grid-column: 1; grid-row: 5;}
#capricorn   { grid-column: 1; grid-row: 4;}
#aquarius    { grid-column: 1; grid-row: 3;}
#pisces      { grid-column: 1; grid-row: 2;}

.item {
    display: flex;
    align-items: center;
    border: 0.1rem solid whitesmoke;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}   

.fullscreen-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-column: 2 / 4;
    grid-row: 2 / 6;
    flex-wrap: wrap;
    overflow: hidden;
}

.fullScreen-image   {
    object-fit: cover;
    display: flex;
    object-fit: contain;
}

@media (orientation: landscape){
    .gallery-grid {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        max-height: 100dvh;
        padding: 0.5rem 0.5rem 0.5rem;
    }

    #mithological { grid-column: 1; grid-row: 1; }
    #zodiac       { grid-column: 8; grid-row: 1; }
   
    #aries    { grid-column: 1; grid-row: 4; }
    #taurus   { grid-column: 1; grid-row: 3; }
    #gemini   { grid-column: 1; grid-row: 2; }

    #cancer   { grid-column: 2; grid-row: 1; }
    #leo      { grid-column: 3; grid-row: 1; }
    #virgo    { grid-column: 4; grid-row: 1; }
    #libra       { grid-column: 5; grid-row: 1; }
    #scorpio     { grid-column: 6; grid-row: 1; }
    #sagittarius { grid-column: 7; grid-row: 1; }

    #capricorn   { grid-column: 8; grid-row: 2; }
    #aquarius    { grid-column: 8; grid-row: 3; }
    #pisces      { grid-column: 8; grid-row: 4; }

    .fullscreen-container {
        grid-column: 2 / 8;
        grid-row: 2 / 5;
    }
}




